* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.square {
    background-color: #1d1d1d;
    box-shadow: 0 0 2px rgba(155, 155, 155, 0.5);
    height: 16px;
    width: 16px;
    margin: 2px;
    transition: 2s ease;

}

.square:hover {
    transition-duration: 0s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
}